.meme-1 {
    background-position: 0% 0%;
    background-size: 200% 200%;
}
.meme-2 {
    background-position: 100% 0%;
    background-size: 200% 200%;
}
.meme-3 {
    background-position: 0% 100%;
    background-size: 200% 200%;
}
.meme-4 {
    background-position: 100% 100%;
    background-size: 200% 200%;
}
