.brand-logo.boing-boing {
    background-position: 0% 0%;
    background-size: 500% 400%;
}
.brand-logo.cbs-news {
    background-position: 25% 0%;
    background-size: 500% 400%;
}
.brand-logo.engadget {
    background-position: 0% 33.333333%;
    background-size: 500% 400%;
}
.brand-logo.forbes {
    background-position: 25% 33.333333%;
    background-size: 500% 400%;
}
.brand-logo.fortune {
    background-position: 50% 0%;
    background-size: 500% 400%;
}
.brand-logo.gizmodo {
    background-position: 50% 33.333333%;
    background-size: 500% 400%;
}
.brand-logo.huffpost {
    background-position: 0% 66.666667%;
    background-size: 500% 400%;
}
.brand-logo.imore {
    background-position: 25% 66.666667%;
    background-size: 500% 400%;
}
.brand-logo.japan-times {
    background-position: 50% 66.666667%;
    background-size: 500% 400%;
}
.brand-logo.klew-tv {
    background-position: 75% 0%;
    background-size: 500% 400%;
}
.brand-logo.ny-magazine {
    background-position: 75% 33.333333%;
    background-size: 500% 400%;
}
.brand-logo.recode {
    background-position: 75% 66.666667%;
    background-size: 500% 400%;
}
.brand-logo.techcrunch {
    background-position: 0% 100%;
    background-size: 500% 400%;
}
.brand-logo.the-guardian {
    background-position: 25% 100%;
    background-size: 500% 400%;
}
.brand-logo.the-irish-times {
    background-position: 50% 100%;
    background-size: 500% 400%;
}
.brand-logo.the-new-american {
    background-position: 75% 100%;
    background-size: 500% 400%;
}
.brand-logo.vox {
    background-position: 100% 0%;
    background-size: 500% 400%;
}
