<div class="mycard entry entry-type-host hover-to-scale">
    <div class="entry-inner">
        <a class="d-block" href="./a/${ index }" target="_blank">
            <div class="event-image" style="background: #F3F3F3 url(cover/${ index }.jpg) scroll no-repeat center; background-size: cover; position: relative; min-height: 360px;">
            </div>
            <div class="">
                <aside class="pre-title-note">
                    <span class="event-type-tag" style="">News article</span>
                    <span class="date">${ date }</span>
                </aside>
                <div class="title">
                    ${ title }
                </div>
            </div>
        </a>
    </div>
</div>
